rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /playerPhotos/{photoId} {
      allow read, write: if true;
    }
    match /ror_proofs/{imageId} {
      allow read, write: if true;
    }
  }
}
